<!-- This example requires Tailwind CSS v2.0+ -->
<section class="fixed inset-0 overflow-hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="absolute inset-0 overflow-hidden">
    <!--
      Background overlay, show/hide based on slide-over state.

      Entering: "ease-in-out duration-500"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in-out duration-500"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <div class="fixed inset-y-0 right-0 pl-10 max-w-full flex">
      <!--
        Slide-over panel, show/hide based on slide-over state.

        Entering: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-full"
          To: "translate-x-0"
        Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-0"
          To: "translate-x-full"
      -->
      <div class="w-screen max-w-md">
        <div class="h-full flex flex-col py-6 bg-white shadow-xl overflow-y-scroll divide-y divide-gray-200">
          <div class="px-4 sm:px-6">
            <div class="flex items-start justify-between">
              <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                <%= event.title %>
              </h2>
              <div class="ml-3 h-7 flex items-center">
                <button class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <span class="sr-only">Close panel</span>
                  <!-- Heroicon name: outline/x -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="mt-6 relative flex-1 px-4 sm:px-6">
            <div class="flex-1 flex flex-col justify-between">
              <div class="divide-y divide-gray-200">
                <div class="space-y-6 pt-6 pb-5">
                  <div>
                    <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
                      Start Time
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
                      <p>
                        <%= event.start_time.strftime("%b %e, %k:%M %p") %>
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
                      End Time
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
                      <p>
                        <%= event.end_time.strftime("%b %e, %k:%M %p") %>
                      </p>
                    </dd>
                  </div>
                  <div>
                    <h3 class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
                      Invitees
                    </h3>
                    <div class="mt-2">
                      <div class="flex space-x-2">
                        <% event.invitees.each do |invitee| %>
                          <%= link_to "#", class: "inline-block h-8 w-8 overflow-hidden rounded-full hover:opacity-75" do %>
                            <%= render AvatarComponent.new(user: invitee.user) %>
                          <% end %>
                        <% end %>
                        <button type="button" class="flex-shrink-0 bg-white inline-flex h-8 w-8 items-center justify-center rounded-full border-2 border-dashed border-gray-200 text-gray-400 hover:text-gray-500 hover:border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                          <span class="sr-only">Add team member</span>
                          <!-- Heroicon name: solid/plus -->
                          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-shrink-0 px-4 py-4 flex justify-end pb-0">
            <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Cancel
            </button>
            <button type="submit" class="ml-4 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
