<div class="mt-6">
  <div class="my-3 mb-6 text-3xl font-semibold text-gray-700 dark:text-gray-200">
    Resend confirmation instructions
  </div>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, builder: DeviseFormBuilder) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
    <div class="actions">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>
  <%= render "admins/shared/links" %>
</div>
