<%= link_to admin_conversation_path(conversation, assignee_type: params[:assignee_type]) do %>
  <div class="px-3 py-6 border-b border-gray-200 <%= 'bg-blue-50' if conversation.id.to_i == params[:id].to_i %>">
    <div class="flex justify-between mb-2">
      <div>
        <h4 class="text-base font-semibold"><%= conversation.contact.name %></h4>
        <span class="text-sm"><%= conversation.contact.email %></span>
      </div>
      <div>
        <span class="text-xs text-gray-400">
          <%= time_ago_in_words(conversation.messages.last.created_at) %> ago
        </span>
      </div>
    </div>
    <p class="text-sm text-gray-300">
      <%= conversation.messages.last.content %>
    </p>
  </div>
<% end %>
