<div id="conversations">
  <div class="flex h-screen">
    <%= render "admin/shared/sidebar" %>
    <div class="w-full p-6 overflow-hidden">
      <div class="flex h-full bg-white border border-gray-200 rounded-md">
        <div class="w-1/3 overflow-y-scroll border-r border-gray-200">
          <div class="flex justify-between px-4 py-6 border-b border-gray-200">
            <div>
              <p class="text-sm">Queue: <span class="text-blue-400"><%= @conversations.size %> chats</span></p>
            </div>
            <div class="flex space-x-3 text-gray-500">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
              </svg>
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
              </svg>
            </div>
          </div>
          <%= render @conversations %>
        </div>
        <div class="flex flex-col items-center justify-center w-2/3">
          <%= render "admin/conversations/blank_slate" %>
        </div>
      </div>
    </div>
  </div>
  <% unless current_tenant.web_widgets.any?(&:persisted?) %>
    <%= render "admin/inboxes/new", widget: @widget %>
  <% end %>
</div>
