<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      Novachat
    </title>
    <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= render 'magic_test/support' if Rails.env.test? %>
  </head>
  <body class="relative bg">
    <div id="flash-messages"></div>
    <div id="content" class="flex h-screen" data-reflex-root='#content'>
      <%= render "admin/shared/sidebar" %>
      <div class="w-full p-6 overflow-hidden">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
